.bgImgSJN{padding:0 10px;}	
.shoesV1Cfff{background: url('img/nh/sh.png') no-repeat;background-size:contain;}
.milkV1Cfff{background: url('img/nh/milk.png') no-repeat;background-size:contain;}
.foodV1Cfff{background: url('img/nh/food.png') no-repeat;background-size:contain;}
.colorV1Cfff{background: url('img/nh/color.png') no-repeat;background-size:contain;}
.catsV1Cfff{background: url('img/nh/cats.png') no-repeat;background-size:contain;}