.Jry_query{
	width: 99%;
	margin:10px auto;
	font-family: "Microsoft YaHei";
	border-bottom:1px #f1f1f1 solid;
}
.Jry_query .query_part:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.Jry_query .query_part input,select{
	background: #f1f1f1;
	box-shadow: none;
	border-image: none;
	outline-offset:none;
	border:none;
}
.Jry_query .query_part option{
	font-family: "Microsoft YaHei";
}
.Jry_query .query_items{
	width: 31%;
	margin:5px 1%;
	float: left;
}
.Jry_query .query_items:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.Jry_query .query_items label{
	width: 30%;
	float: left;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.Jry_query .query_items .inputDivOne{
	width: 70%;
	float: left;
}
.Jry_query .query_items .inputDivOne select{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0px 4%;
}
.Jry_query .query_items .inputDivOne input{
	width: 90%;
	height: 35px;
	line-height: 35px;
	padding: 0px 5%;
	margin:0px;
}
.Jry_query .query_items .inputDivThree{
	width: 70%;
	float: left;
}
.Jry_query .query_items .inputDivThree:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.Jry_query .query_items .inputDivThree input{
	width: 39%;
	height: 35px;
	line-height: 35px;
	padding: 0px 3%;
	margin:0px;
	float: left;
}
.Jry_query .query_items .inputDivThree div{
	width: 10%;
	height: 35px;
	line-height: 35px;
	margin:auto;
	float: left;
	text-align: center;
	font-weight: 500;
}
.Jry_query .query_btn{
	width: 200px;
	height: 35px;
	line-height: 35px;
	background: #ff6000;
	margin:20px auto;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
}