/*table*/
.Jry_table{
	width: 100%;
	font-size: 14px;
	font-family: "Microsoft YaHei";

}
.Jry_table .buttons{
	height: 40px;
	width: 100%;
}
.Jry_table .buttons .btns:hover{
	color: #00bcd4;
}
.Jry_table .buttons .btns{
	float: left;
	border-radius: 3px;
	height: 30px;
	margin:5px 5px;
	cursor: pointer;
}

.Jry_table .buttons .btns .imgButton{
	width: 15px;
	height: 30px;
	line-height: 34px;
	float: left;
	margin: 0px 4px;

}
.Jry_table .buttons .btns .imgButton img{
	width: 100%;
}
.Jry_table .buttons .btns .textButton{
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0px 4px;
	padding-right:6px;
}

.Jry_table .buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.Jry_table .buttons .btns:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.Jry_table .table_body table{
	font-family: "Microsoft YaHei";
	width: 100%;
	cursor: default;
	border-collapse: collapse;
	background: #fff;
}
.Jry_table .table_body table .checked_back{
	background: #f1f1f1;
}
.Jry_table .table_body tr{
	border-bottom: 1px #e0e0e0 solid;
}
.Jry_table .table_body tr:hover{
	background:#f1f1f1;
}
.Jry_table .table_body tr:first-child:hover{
	background:#fff;
}
.Jry_table .table_body tr:last-child{
	border-bottom:none;
}

.Jry_table .table_body tr:first-child>td{
	background: #fff;

}
.Jry_table .table_body tr:first-child>td:nth-child(2){
	background: #fff;
	text-align: left;
}
.Jry_table .table_body tr:first-child>td:nth-child(4){
	text-align: center;
	cursor: pointer;
}

.Jry_table .table_body th{
	height: 50px;
	line-height: 50px;
	background: #fff;
	font-weight: 500;
	

}

.Jry_table .table_body td{
	text-align: center;
	height: 50px;
	
	
}

.Jry_table .table_body tr>td:first-child{
    padding-top: 4px;
    height: 26px;
	line-height: 26px;
}
.Jry_table .table_body tr>th:first-child{
    padding-top: 10px;
    height: 26px;
	line-height: 26px;
}

.Jry_table .table_body input[type='checkbox']{
	width: 20px;
    height: 20px;
	-webkit-appearance:none;
	border:1px #000 solid;
	background: #fff;

}
.Jry_table .table_body input[type='checkbox']:checked{
	background: #00bcd4 url("../img/yes.png");
	border-color: #00bcd4;
	outline:none;
}

.Jry_table .table_body input[type='checkbox']:focus{
	outline:none;
}

.Jry_table .table_body .tdImg{
	margin: auto 5px;
	cursor: pointer;
}