@charset "utf-8";
html{ font:normal 62.5%/2.3em "微软雅黑",Arial,"宋体"; height:100%; overflow:hidden;}
body{ padding:0px; margin:0px auto; font-size:1.2rem; color:#414446; width:100%; max-width:640px; min-width:320px; height:100%; zoom:1; background:#ccc; position:relative; overflow:hidden; moz-user-select:-moz-none; -moz-user-select:none; -o-user-select:none; -khtml-user-select:none; -webkit-user-select:none; -ms-user-select:none; user-select:none;}
ul,li,form, dl,dt,dd, div{ padding: 0px; margin: 0px;}
select,input,textarea{ border-radius:0; -webkit-border-radius:0; color:#414446;}
input:focus { outline: none;}
input,button,select,textarea{outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ }
textarea{resize:none;/*-webkit-appearance:none;*//*强制去除textarea自带的样式*/ }
textarea,input,select { background:none; border:none; margin:0; padding:0;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{ display: block;} /*html5设置*/
figure,figcaption{ margin:0px; padding:0px;}
audio,canvas,progress,video { display: inline-block; vertical-align: baseline;}
img{ border:none; border:0; max-width:100%; vertical-align:top; width:auto; height:auto;}
a{ color:#414446; text-decoration:none; noline:-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus {outline:none; -moz-outline:none;}
a:hover{ text-decoration:none;}
.clear{ clear:both; height:0px; overflow:hidden;}

#alert{ width:100%; height:100%; position:absolute; left:0; top:0; z-index:999999; background:#94483b url(../images/alert.jpg) no-repeat center center; display:none;}

.hide{}

#content{ position:relative; left:0; top:0; width:100%; overflow:hidden; transition:transform 0.5s ease; -webkit-transition:-webkit-transform 0.5s ease;}
#content.content{ transition:transform 0s; -webkit-transition:-webkit-transform 0s;}
.page{ width:100%; background:url(../images/load.gif) no-repeat center center;}
.page .page-con{ position:relative; overflow:hidden; width:100%; height:100%; background-position:50% 50%; background-size:cover}
.page.active{ z-index:40}
.page .txt{ display:none; transform:translateY(-100%); -webkit-transform:translateY(-100%);}
.page .txt .img{ width:100%; height:100%; background-position:50% 50%; background-size:cover;}
.animate .txt{ width:100%; height:100%; transform:translateY(-100%); -webkit-transform:translateY(-100%); display:block; animation:txt 2s 1s linear forwards; -webkit-animation:txt 2s 1s linear forwards;}

@keyframes txt{
	0%{ transform:translateY(-100%); -webkit-transform:translateY(-100%);}
	60%{ transform:translateY(0); -webkit-transform:translateY(0);}
	70%{ transform:translateY(-10%); -webkit-transform:translateY(-10%);}
	80%{ transform:translateY(0); -webkit-transform:translateY(0);}
	90%{ transform:translateY(-5%); -webkit-transform:translateY(-5%);}
	100%{ transform:translateY(0); -webkit-transform:translateY(0);}
}
@-webkit-keyframes txt{
	0%{ transform:translateY(-100%); -webkit-transform:translateY(-100%);}
	60%{ transform:translateY(0); -webkit-transform:translateY(0);}
	70%{ transform:translateY(-10%); -webkit-transform:translateY(-10%);}
	80%{ transform:translateY(0); -webkit-transform:translateY(0);}
	90%{ transform:translateY(-5%); -webkit-transform:translateY(-5%);}
	100%{ transform:translateY(0); -webkit-transform:translateY(0);}
}
