.bgImgSJN{padding:0 10px;}	

.acctV1Cfff{background: url('img/acct.png') no-repeat;background-size:contain;}
.addressV1Cfff{background: url('img/address.png') no-repeat;background-size:contain;}
.cellcetionV1Cfff{background: url('img/cellcetion.png') no-repeat;background-size:contain;}
.keyV1Cfff{background: url('img/key.png') no-repeat;background-size:contain;}
.messageV1Cfff{background: url('img/message.png') no-repeat;background-size:contain;}
.signV1Cfff{background: url('img/sign.png') no-repeat;background-size:contain;}
.signedV1Cfff{background: url('img/signed.png') no-repeat;background-size:contain;}
.allOrderV1C666{background: url('img/allOrder.png') no-repeat;background-size:contain;}
.transitingV1C666{background: url('img/transiting.png') no-repeat;background-size:contain;}
.waitEvaluateV1C666{background: url('img/waitEvaluate.png') no-repeat;background-size:contain;}
.waitReceiptV1C666{background: url('img/waitReceipt.png') no-repeat;background-size:contain;}
.waitPayV1C666{background: url('img/waitPay.png') no-repeat;background-size:contain;}

